.default-class h1,
.default-class h2,
.default-class h3,
.default-class h4,
.default-class h5 {
  padding: 0;
  margin: 0;
}
.default-class h1 {
  font-size: 90px;
}
.container {
  width: 1200px;
  paddin: 0 15px;
  text-align: center;
}
.welcome {
  background-image: url('../assets/still-nyc-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
}
.welcome #video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .welcome #video-background {
    display: none;
  }
}
.welcome .kevin {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
  color: #fff;
}
.welcome .kevin h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 768px) {
  .welcome .kevin h1 {
    font-size: 60px;
  }
}
.welcome .kevin h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .welcome .kevin h2 {
    font-size: 25px;
  }
}
.experience {
  background-image: url('../assets/aboutme-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
}
.experience h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
}
